@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.calculator-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator{
    display: flex;
    flex-flow: column nowrap;
    width: 275px;
    height: 290px;
}

.form-header{
    background-color: rgb(5, 79, 158);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius:4px 12px 0px 0px;
    height: 45px;
    width: 100%;
}

.form-input{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.form-fields{
    width: 250px;
    display: flex;
    gap:5px;
    justify-content: space-between;
    padding: 10px;
}

.form-input-fields{
    display: flex;
    flex-flow: column;
}

.form-input-fields > input{
    width: 100%;
    padding: 5px;
    height: 30px;
    font-weight: 600;
    color:rgb(67, 67, 67);
}

.form-input-fields > label {
    font-size:15px;
}

input{
    border:1px solid rgb(106, 106, 106);
    border-radius:5px;
    outline: 0px;
    width: 120px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}

button{
    border:none;
    width: 80px;
    height:30px;
    background-color: rgb(35, 106, 238);
    color:white;
    border-radius:10px;
    transition: .2s ease-in-out;
    width: 80%;
}

button:hover{
    cursor: pointer;
    background-color: rgb(24, 76, 172);
}

.franchise-result-container{
    width: 100px;
    padding: 5px;
    font-weight: 600;
    text-align: center;
}

.franchise-result-container, .franchise-container, .calculator{
    background-color: white;
    border-radius:5px 15px 5px 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.63);
}

.franchise-container{
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap:15px;
    height:100px;
}